body{
    background-color: #e7f0dc;
}

.cabecalho {
    background-color: #009140;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    }

p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;
}
.p1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}
 .table, th, td{
    
     border-style: none;
      
 }
