body{
    background-color: #e7f0dc;
    padding: none;
}

.cabecalho {
    background-color: #009140;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding:none;
    }

h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
}
p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    text-align: left;
    padding: none;
}
.p1{
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 0px;
    text-align: left;
    padding-left: 50px;
    padding-bottom: 50px;
    padding-right: 50px;
    font-size: 28px;
    
}
 .table, th, td{
    
     border-style: none;
     padding: 10px;
     
     
      
 }
.th1{
    border-style: none;
    height: 10px;
    padding: none;
    
    
}
.table1{
    border-style: none;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom:0px;
    width: 600px;
    
}
.button {
    border: none;
    color: white;
    background-color: #009140;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 32px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  
  .button1:hover {
    background-color: #04AA6D;
    color: white;
  }
   .img1{
    margin-left: 1465px;
   }
